rules:
    - JohanVanHelden\PhpCodeQuality\PHPStan\NoImplicitOperatorInQueryMethodRule

parameters:
    level: max

    checkMissingOverrideMethodAttribute: true

    paths:
        - %currentWorkingDirectory%/app
        - %currentWorkingDirectory%/config
        - %currentWorkingDirectory%/database
        - %currentWorkingDirectory%/tests
        - %currentWorkingDirectory%/routes
